<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%= form_for @customer do |f|%>
        <%= f.label "Customer Name: " %>
        <%= f.text_field :name%>
        <%= f.submit%>
    <% end %>
    
</body>
</html>